#Admission{
    background-color: rgb(255, 0, 195);
    height: 100vh;

}
.container-course row{
    top: 3868px;
left: 96px;
width: 770px;
height: 500px;
background: transparent  0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
}